* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* outline: 1px solid grey; */
}
:root {
  --cell-gap: 15rem;
  background-color: #ddd;
  font-family: sans-serif;
}


.heading-container{  
  margin: 2rem auto;
  justify-content: center;  
  background-color: teal;
  color: #f3f3f3;
  max-width: 50rem;
  padding: 2rem;
  border-radius: 10px;
  display: flex;  
  
}
.beta {
  rotate: 30deg;
  color: #ebe81d;
  font-size: 1.6rem;
  font-weight: bold;
  position: relative;
  top: -10px;
  left: -15px;
  
}


.hidden {
  visibility: hidden;
}
#table-container {
  margin: 2rem auto 0;
  width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  
}

#search-form {
  max-width: 50rem;
  margin: 0 auto 1rem auto;
}
.btn {
  color: #f3f3f3;
  padding: 0.8rem;
  background-color: teal;
  border-radius: 10px;
  cursor: pointer;
}
.btn--submit {
  border: none;
  font-size: 1.1rem;
}

.search-bar {
  font-family: inherit;
  padding: 0.8rem;
  font-size: 1.2rem;
  color: #454545;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.search-bar:focus {
  box-shadow: 0 0 10px teal;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  font-size: 0.9em;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  position: relative;
}

#repo-table thead tr {
  background-color: teal;
  color: #f3f3f3;
  text-align: left;
  font-weight: bold;
}
.table-heading:hover {
  cursor: pointer;
  background-color: rgb(2, 153, 153);
}
.table-heading:active {
  background-color: rgb(2, 175, 175);
}
#repo-table th,
table td {
  padding: 1.2rem 1.5rem;
}
#repo-table tbody tr:nth-of-type(odd) {
  background-color: #eee;
}
#repo-table tbody tr:last-of-type {
  border-bottom: 4px solid teal;
}
.btn:link,
.btn:visited {
  text-decoration: none;
}
.btn:hover {
  background-color: rgb(2, 153, 153);
}
.btn:active {
  background-color: rgb(2, 175, 175);
}
.btn:disabled {
  background-color: grey;
}
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(50, 50, 50, 0.8);
  backdrop-filter: blur(5px);
  border-radius: 10px 10px 0 0;
}

.loader {
  animation: loader 275ms infinite linear;
  position: absolute;
  width: 10rem;
  height: 10rem; 
  border-radius: 50%;
  border: 5px solid #ccc;
  border-top-color: teal;
}

.form-inputs {
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  width: 50%;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
